@use '../../styles/partials/variables' as *;

.experiences-section {
    color: $white;

    &__heading {
        margin: 3vw;
    }

    &__coming-soon {
        width: 100%;
        background-color: rgba($white, 30%);
        margin-bottom: 1vw;
    }

    &__carousel {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;

        
        &-item {
            width: 40vw;
            height: 55vw;
            margin: 0 2vw;


            flex: 0 0 auto;
            border-radius: 10px;
            background-position: center;
            background-size: cover;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

            &--saturn {
                background-image: url('../../assets/cards/moonhopSaturn.png');
            }

            &--mars {
                background-image: url('../../assets/cards/exploreMars.png');
            }

            &--jupiter {
                background-image: url('../../assets/cards/orbitJupiter.png');
            }

            &--kepler {
                background-image: url('../../assets/cards/kepler.png');
            }
        }

        &-writing {
            width: 80%;
        }
    }
}