@use '../../styles/partials/variables' as *;

.calendar {
    width: 100%;
    height: 100%;

    position: relative;
    z-index: 100;

    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;

    padding: 16vw 0;

    &__card {
        width: 95%;
        height: fit-content;
        background-color: $white;

        border-radius: 10px;

        color: $nasa-black;

        &-top {
            padding: 2vw;
            text-align: right;
        }

        &-heading {
            padding: 0 2vw;
            margin-bottom: 4vw;
        }

        &-list {
            width: 100%;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &-card {
            width: 90%;
            height: 15vw;
            margin-bottom: 4vw;

            box-shadow: 0 4px 4px rgba(0,0,0,0.2);
            border-radius: 10px;

            background-color: $nasa-blue;
            color: $white;

            font-size: 1.5rem;

            display: flex;
            justify-content: center;
            align-items: center;
        }

        &-writing {
            padding: 3vw 4vw;

            font-size: .7rem;
        }
    }

}

.pick-dates {
    color: $white;
    padding: 13vw 4vw 0 4vw;

    &__background {
        background-image: url('../../assets/backgrounds/backgroundMain.png');
        background-position: center;
        background-size: cover;

        height: 100vh;
    }

    &__heading {
        font-size: 2rem;
        text-align: center;
        padding: 2vw 0;
    }

    &__secondary-heading {
        margin: 2vw 0;
    }

    &__description {
        font-weight: 200;
        font-size: .8rem;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        border: 2px solid $white;
        border-radius: 10px;
        padding: 2vw;
        margin: 2vw 0;
    }

    &__plus-minus-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 40%;
        height: 8vw;
        margin: 2vw 0;
    }

    &__plus-minus {
        width: 10vw;
        height: 10vw;
        border: 1px solid $white;
        border-radius: 5px;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__prices {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__buttons {
        width: 70%;
        margin: auto;

        display: flex;
        justify-content: space-between;

        &-button {
            width: 45%;
            height: 10vw;

            border: none;
            border-radius: 10px;

            color: $white;
            background-color: $button-red;

            display: flex;
            justify-content: center;
            align-items: center;

            text-decoration: none;
        }
    }

}

.extra {
    margin-top: 6vw;
}