@use '../../styles/partials/variables' as *;


.pick-dates {
    color: $white;
    padding: 0 4vw;

    &__background {
        background-image: url('../../assets/backgrounds/marsbas-blurr-v4\ \(wider\).png');
        background-position: center;
        background-size: cover;

        height: 120vh;
    }

    &__heading {
        font-size: 2rem;
        text-align: center;
        padding: 2vw 0;
    }

    &__secondary-heading {
        margin: 2vw 0;
    }

    &__description {
        font-weight: 200;
        font-size: .8rem;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        border: 2px solid $white;
        border-radius: 10px;
        padding: 2vw;
        margin: 2vw 0;
    }

    &__plus-minus-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 40%;
        height: 8vw;
        margin: 2vw 0;
    }

    &__plus-minus {
        width: 10vw;
        height: 10vw;
        border: 1px solid $white;
        border-radius: 5px;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__prices {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__buttons {
        width: 70%;
        margin: auto;

        display: flex;
        justify-content: space-between;

        &-button {
            width: 45%;
            height: 10vw;

            border: none;
            border-radius: 10px;

            color: $white;
            background-color: $button-red;
        }
    }

    &__amenities {

        &-container {
            display: flex;
            flex-wrap: wrap;
            
            width: 100%;
        }

        &-amenity {
            width: 45%;
            height: 30vw;

            margin: 2vw;
            background-color: $white;

            border-radius: 10px;
            
        }
    }

}

.extra {
    margin-top: 6vw;
}