@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

.main-background {
    background-image: url('../../assets/backgrounds/falling-stars-background-oxIqrfH6zm.png');
    background-position: center;
    background-size: cover;
    height: 100vh;

    padding: 18vw 0 0 0;
}

.welcome {
    height: 50vh;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;

    &__heading {
        font-size: 3.5rem;
        color: $white;
    }
}