* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

.main-background {
    background-image: url('../../assets/backgrounds/falling-stars-background-oxIqrfH6zm.png');
    background-position: center;
    background-size: cover;
    height: 100vh;
}