@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.mars-explore {
  &__main-background {
    background-image: url("../../assets/backgrounds/background\ main.png");
    background-position: center;
    background-size: cover;
    height: 289vh;

    padding: 14vw 0 0 0;
    position: relative;
  }
  &__title {
    font-family: "Inter";
    font-weight: 800;
    font-size: 2rem;
    color: $white;
    text-align: center;
  }
  &__title-container {
    padding: 1rem;
    padding-left: 5%;
    padding-right: 5%;
    width: 100vw;
  }
  &__description {
    font-size: 1rem;
    font-family: "Inter";
    font-weight: 400;
    color: $white;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1.5rem;
  }
  &__description-2 {
    font-size: 1rem;
    font-family: "Inter";
    font-weight: 400;
    color: $white;
    padding-left: 5%;
    padding-bottom: 0.5rem;
  }
  &__description-3 {
    font-size: 0.85rem;
    font-family: "Inter";
    font-weight: 400;
    color: $white;
    padding-left: 1rem;
    padding-right: 1rem;
    line-height: 1.875rem;
  }

  &__select-button {
    font-size: 1rem;
    font-family: "Inter";
    font-weight: 400;
    color: $white;
    margin-right: 3%;
    border: none;
    border-bottom: $white solid 1px;
    background-color: transparent;
  }
  &__subtitle-1 {
    font-size: 1.5rem;
    font-family: "Inter";
    font-weight: 800;
    color: $white;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1.5rem;
  }
  &__subtitle-2 {
    font-size: 1rem;
    font-family: "Inter";
    font-weight: 800;
    color: $white;
  }
  &__route-container-1 {
    background-image: url("../../assets/images/helical\ engine\ concept.png");
    background-position: center;
    background-size: 100%;
    width: 90%;
    height: 11.25rem;
    background-color: $white;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1.5rem;
    border: 0.5px solid $white;
  }
  &__route-container-2 {
    background-image: url("../../assets/images/space\ cruice\ ship\ voyager\ 123.png");
    background-position: center;
    background-size: 100%;
    width: 90%;
    height: 11.25rem;
    background-color: $white;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2.31rem;
    border: 0.5px solid $white;
  }
  &__buttons-container {
    display: flex;
    justify-content: space-around;
    padding-right: 8%;
    padding-left: 8%;
    margin-bottom: 3.25rem;
  }
  &__red-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7.25rem;
    height: 2.4375rem;
    background-color: $button-red;
    font-family: "Inter";
    font-weight: 400;
    font-size: 1rem;
    color: $white;
    padding: 0.625rem;
    border-radius: 10px;
    border: none;

    text-decoration: none;
  }
  &__more {
    color: $white;
    margin-left: 5%;
    font-size: 1.5rem;
    font-family: "Inter";
    font-weight: 800;
    margin-bottom: 1.5rem;
  }
  &__moon {
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 10px;
    margin-bottom: 1.5rem;
  }
}
.format {
  &-container {
    display: flex;
    justify-content: space-between;
    height: 80%;
  }
  &-right {
    padding-top: 1rem;
    margin-right: 5%;
  }
  &-bottom-right {
    display: flex;
    justify-content: end;
    align-items: end;
    margin-right: 5%;
  }
  &-left {
    padding-top: 1rem;
    margin-left: 5%;
  }
  &-facts {
    display: flex;
    justify-content: space-between;
  }
  &__learn {
    display: flex;
    margin-left: 5%;
    padding-bottom: 2.5rem;
    padding-top: 1rem;
  }
}
